<div>
    <table class="table table-striped latest-data">
        <tbody>
        {{#each model.databaseArray key='dbname' as |db|}}
            <tr>
                <td class="dbname">
                    {{db.dbname}}
                </td>
                <td class="query-count">
            <span class="{{db.lastSample.countClassName}}">
                {{db.lastSample.nbQueries}}
            </span>
                </td>
                {{#each db.lastSample.topFiveQueries key="@index" as |query|}}
                    <td class="Query {{query.className}}">
                        {{query.formatElapsed}}
                        <div class="popover left">
                            <div class="popover-content">{{query.query}}</div>
                            <div class="arrow"></div>
                        </div>
                    </td>
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>